
// * {box-sizing:border-box}

.carrouselMainStyle
{
min-width: 250px;

}

.styleCarrouselImage
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;

}

.styleCarrouselDot
{
 
  text-align: center;
    

}

.styleCarrousel{
  display:inline-block;
  

}
.button{
  position: relative;

  top: 50%;
  left: 33%;
  background-color: #805b5b; 
  border: none;
  color: white;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;

}

.prev:hover, .next:hover {
  background-color: rgba(114, 114, 114, 0.8);
}

// /* Caption text */
.text {
  color: #805b5b;
  font-size: 15px;
 // padding: 8px 12px;
  // position: absolute;
 // bottom: 10px;
   //width: 100%;
   word-wrap: break-word;

  width: 30vh;
  left: 0;
  right: 0;
  text-align: center;
}

.divbutton
{
  margin-top: 10px;

}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
  
}

.active, .dot:hover {
  background-color: #717171;
}

// /* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

